<link rel="stylesheet" href="/public/styles/Styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<title>Las cazuelas | Comidas</title>
<header>
    <div class="btn__home"><i class="fa-solid fa-house"></i></div>
    <div class="contenedor__banner">
        <img src="/public/img/BannerCocina.png" alt="BannerCocina">
    </div>
</header>
<nav class="menu__navegacion">
    <button class="btn__opciones">Menú del día</button>
    <button class="btn__opciones">Desayunos</button>
    <button class="btn__opciones" style="display: none;"></button>
    <button class="btn__opciones">Bebidas</button>
</nav>
<div class="contenedor__menu">
    <p>Comidas</p>
</div>
<script src="/public/js/Main.js"></script>