<link rel="stylesheet" href="../Public/Styles/Styles.css">
<div class="contenedor__menuDesayunos">
    <p>Menú de desayunos</p>
    <div class="contenedor__menu">
        <!-- <div class="contenedor__carrusel">
            <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
            <div class="carrusel">
                <img src="../Public/Img/Productos/Bebidas/Cafe.jpg" alt="" class="carousel-slide">
                <img src="../Public/Img/Productos/Bebidas/CafeLeche.jpg" alt="" class="carousel-slide">
                <img src="../Public/Img/Productos/Bebidas/Té.jpg" alt="" class="carousel-slide">
                <img src="../Public/Img/Productos/Bebidas/Frappe.jpg" alt="" class="carousel-slide">
                <img src="../Public/Img/Productos/Bebidas/Jugo.jpg" alt="" class="carousel-slide">
                <img src="../Public/Img/Productos/Bebidas/coca.jpg" alt="" class="carousel-slide">
            </div>
            <button class="next" onclick="moveSlide(1)">&#10095;</button>
        </div> -->
    </div>
</div>
<script src="../Public/JS/catMenus.js"></script>
<script src="../Public/JS/MainCarrusel.js"></script>